<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CodeTweetIdentity" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=CodeTweet;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ZeroMqAddress" value="tcp://*:5555" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AsyncIO" publicKeyToken="44a94435bd6f33f8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.18.0" newVersion="0.1.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="TextLog" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring:maxInnerExceptionLevel=5:innerFormat=tostring}" fileName="${basedir}/Logs/Notifications.log" archiveFileName="${basedir}/Logs/Notifications.{##}.log" archiveAboveSize="1048576" archiveNumbering="Sequence" concurrentWrites="false" maxArchiveFiles="10" keepFileOpen="false" />
      <target xsi:type="Console" name="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="TextLog" />
      <logger name="*" minlevel="Info" writeTo="Console" />
    </rules>
  </nlog>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>