@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CodeValue Azure Course</h1>
    <p class="lead">This is the course exercise for CodeValue's Azure cloud computing course. During the course we will add additional features to this baseline system.</p>
    <p><a href="http://codevalue.net/college/courses/cloud-computing-with-microsoft-azure/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>